$chocolate: rgb(127,101,72);
$orange-dark: rgb(255,167,67);
$orange-light: rgb(255,203,143);

body{
	background-color: $orange-light;
	font-family: courier;
	color: $chocolate;
}
header {
	height:100%;
	width:100%;
	background-color:$orange-light;
	font-size: 54px;
	position: fixed;
	top: 0px;
	left:0px;
	height:100px;
}
	
aside{
	.right{
		float: right;
		width: 100px;
	}
	.left{
		float: left;
		width: 100px;
	}
}

.main{
	margin:100px;

	float: left;
	width: 600px;

	.gallery{
	width:900px;
	
	article{
		margin:40px;
		padding: 10px;
		width:200px;
		height:200px;
		background-color:$orange-dark;
		float: right;
		box-shadow: 10px 10px 5px 0px $chocolate;

		p{
			background-color:$orange-light;
			color:$chocolate;
		}
	}
}
}


input{
	width: 500px;
	height: 55px;
	outline: 0px;
	background-color: $orange-light;
	color: $chocolate;
	font-size: 26px;
	border:1px solid $chocolate;
	box-shadow: 10px 10px 5px 0px $chocolate;
}

textarea{
	width: 500px;
	height: 55px;
	outline: 0px;
	background-color: $orange-light;
	color: $chocolate;
	font-size: 15px;
	border:1px solid $chocolate;
	box-shadow: 10px 10px 5px 0px $chocolate;
	margin: 5px 0 20px 0;

}
.button{
	width: 100px;
	height: 40px;
	outline: 0px;
	background: $orange-dark;
	border-radius: 5px;
	text-shadow: 1px 1px 3px #CC8636;
	font-size: 20px;
	padding: 5px 15px 5px 15px;
	border:0px;
}

button{
	color: $chocolate;
	outline: 0px;
	background: $orange-dark;
	border-radius: 5px;
	text-shadow: 1px 1px 3px #CC8636;
	font-size: 20px;
	padding: 5px 15px 5px 15px;
	border:0px;
}
.silent{
	input{
		width:300px;
		height:30px;
		outline: 0px;
		background-color: $orange-light;
		color: $chocolate;
		font-size: 14px;
		border:1px solid $chocolate;
		box-shadow: 10px 10px 5px 0px $chocolate;
	}
	textarea{
		width:300px;
		height:60px;
		outline: 0px;
		background-color: $orange-light;
		color: $chocolate;
		font-size: 14px;
		border:0px solid $chocolate;
	}
}
#step-input{
	display: none;
	margin:0 0 0 40px;
}
	
::-webkit-input-placeholder {
	color:grey; 
}

#save{
	margin:0 0 0 40px;
}

#add-step{
	margin:0 0 0 40px;
}













